# Important CSS Styles.tex
tempCodeRunnerFile.py
static/wav.webm
tempCodeRunnerFile.py
tempCodeRunnerFile.py
template/Pages/WhatsApp Image 2025-08-29 at 12.05.52_29ddc181.jpg
template/Pages/WhatsApp Image 2025-08-29 at 12.08.01_3f8e63f0.jpg
venv
.env