{% load static %}
<link rel="stylesheet" href="{% static 'css/lost_found.css' %}" />
<div class="page_head">
  <button class="action left" aria-label="Back" onclick="loadpage('')">
    <img
      src="{% static 'images/arrow-left-line.svg' %}"
      width="18"
      height="18"
      alt="Back"
    />
  </button>
  <h2 class="title">Lost &amp; Found</h2>
  <div class="actions-right">
    <button class="action" aria-label="Search" onclick="loadpage('search')">
      <img
        src="{% static 'images/search-line.svg' %}"
        width="18"
        height="18"
        alt="Search"
      />
    </button>
  </div>
</div>
<div id="posts" class="posts"></div>
