{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reports Feed</title>
    <link rel="stylesheet" href="/static/css/report.css" />
  </head>
  <body>
    <!-- Top Navbar -->
    <div class="navbar">
      <div class="nav-btn active" id="homeBtn">🏠</div>
      <div class="navbar-title">Reports</div>
      <div class="nav-btn" id="moreBtn">☰</div>
    </div>

    <!-- Feed -->
    <div class="feed" id="feed"></div>
    <!-- <script src="/static/js/report.js"></script> -->
  </body>
</html>
