<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>report</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/style2.css" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body>
    <div class="container">
      <div class="page_head">
        <img src="/static/arrow-left-line.svg" alt="" width="27px" />
        <img src="/static/question-mark.svg" alt="" width="27px" />
      </div>
      <div class="page_title">
        <h1>My Reports</h1>
      </div>
      <div class="page_main">
        <div class="card card1">
          <h3>Projector not working</h3>
          <h5>Block A, Room 203</h5>
          <h5>23 August,2025</h5>
          <div class="state">Pending</div>
        </div>
        <div class="card card2">
          <h3>Library Lights Flicker</h3>
          <h5>Block A, Room 306</h5>
          <h5>27 August,2025</h5>
          <div class="state">Pending</div>
        </div>
        <div class="card card3">
          <h3>Wifi not Working</h3>
          <h5>Block B, Room 109</h5>
          <h5>29 August,2025</h5>
          <div class="state">Pending</div>
        </div>
        <div class="card cardn">
          <h3></h3>
          <h5></h5>
          <div class="state">Pending</div>
        </div>
      </div>
    </div>
  </body>
</html>
