{% load static %}
<div class="container">
  <div id="notifycontent">
    <div class="NotifyPanel">
      <p class="title" style="font-weight: 600">Notifications</p>
      <!-- <img class="back-icon" src="{% static 'images/back.svg' %}" alt="back" /> -->
      <div class="right-placeholder"></div>
      <!-- keeps title centered -->
    </div>
    <div class="msg_wrapper" id="msg_wrapper">
        <!-- Skeleton loading items -->
        <div class="noti_skeleton_item" id="skeleton-1">
          <div class="noti_skeleton_icon"></div>
          <div class="noti_skeleton_content">
            <div class="noti_skeleton_title"></div>
            <div class="noti_skeleton_body"></div>
            <div class="noti_skeleton_meta"></div>
          </div>
        </div>
        
        <div class="noti_skeleton_item" id="skeleton-2">
          <div class="noti_skeleton_icon"></div>
          <div class="noti_skeleton_content">
            <div class="noti_skeleton_title"></div>
            <div class="noti_skeleton_body"></div>
            <div class="noti_skeleton_meta"></div>
          </div>
        </div>
        
        <div class="noti_skeleton_item" id="skeleton-3">
          <div class="noti_skeleton_icon"></div>
          <div class="noti_skeleton_content">
            <div class="noti_skeleton_title"></div>
            <div class="noti_skeleton_body"></div>
            <div class="noti_skeleton_meta"></div>
          </div>
        </div>
        
        <!-- Content will be injected here by JavaScript -->
        <div id="notifications-content" class="skeleton-hidden"></div>
    </div>
    <div class="noti_empty" hidden>
      <img
        src="{% static 'images/notification-2-line.svg' %}"
        alt=""
        width="48"
        height="48"
      />
      <p class="empty_title">You're all caught up</p>
      <p class="empty_body">We’ll let you know when there’s something new.</p>
    </div>
  </div>
</div>
