{% load static %}
<div class="content">
  <div class="floattext">
    <h1>My Profile</h1>
  </div>
  <div class="user_feed" id="user_feed">
    <!-- Skeleton loading for profile -->
    <div class="profile_skeleton" id="profile-skeleton">
      <div class="profile_header">
        <div class="profile_image">
          <div class="pfp_skeleton"></div>
          <div class="username_skeleton"></div>
        </div>
        <div class="edit_btn_skeleton"></div>
      </div>
      <div class="aboutme">
        <div class="about_head_skeleton"></div>
        <div class="about_text_skeleton"></div>
        <div class="user_form">
          <div class="user_details">
            <div class="detail_row">
              <div class="detail_label_skeleton"></div>
              <div class="detail_value_skeleton"></div>
            </div>
            <div class="detail_row">
              <div class="detail_label_skeleton"></div>
              <div class="detail_value_skeleton"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Actual content will be injected here -->
  </div>
  <div id="editProfile"></div>
</div>
