<div id="notifycontent">
  <div class="NotifyPanel">
    <img class="back-icon" src="/static/back.svg" alt="back" />
    <p class="title" style="font-weight: 400">Notifications</p>
    <div class="right-placeholder"></div>
    <!-- keeps title centered -->
  </div>
  <div class="msg_wrapper">
    <div class="messagebox msg0">
      <p>Hey welcome back!</p>
    </div>
    <div class="messagebox msg1">
      <p>john doe ! You've got a offer</p>
    </div>
    <div class="messagebox msg2">
      <p>john doe ! You've got a offer</p>
    </div>
    <div class="messagebox msg3">
      <p>Want some pie at mole's corner ?</p>
    </div>
    <div class="messagebox msg4">
      <p>Want some pie at mole's corner ?</p>
    </div>
  </div>
</div>
