/* ########################## home page ####################################*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(135deg, #f9fafb, #eef2f3);
    background-blend-mode: normal, color-burn;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    line-height: 1.6;
}

/* Container */
.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.title_image {
    width: 111px;
    height: 111px;
}

.heading {
    width: 100%;
    height: auto;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.heading h1 {
    color: black;
    margin-top: 10px;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: 800;
}

.version {
    position: relative;
    bottom: 40px;
    left: 19px;
    display: flex;
    justify-content: center;
    margin-bottom: 7rem;
}

.version h5 {
    color: black;
    opacity: 0.6;
    font-size: clamp(8px, 1vw, 1rem);
    font-family: "Roboto Slab";
}

.iconwrapper {
    width: 100%;
    height: auto;
    /* padding: 10px; */
    justify-content: center;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.icon {
    padding: 10px;
    width: 11rem;
    height: 8rem;
    border: 1px solid rgba(15, 15, 15, 0.089);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background-size: 105px;
    background-position-x: center;
    background-position-y: 10px;
    background-repeat: no-repeat;
}

.icon p {
    margin-top: 4rem;
    text-align: center;
    font-size: larger;
    font-family: "Fira Sans", sans-serif;
}

.icon1 {
    background-image: url("/static/issues.png");
}

.icon2 {
    background-image: url("/static/lostAndFound.png");
}

.icon3 {
    background-image: url("/static/events.png");
}

.icon4 {
    background-image: url("/static/campus_map.png");
}

.icon5 {
    background-image: url("/static/support.png");
}

.icon6 {
    background-image: url("/static/help.png");
}

footer {
    margin-top: 10rem;
}

.seperatline {
    margin-bottom: 10px;
    opacity: 0.3;

}

.bottom_menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;

}

.b_icons {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.034);
    border-radius: 50%;
}

.b_icons.active {
    background-color: #f0f0f0;
    /* Or your preferred highlight */
    border-bottom: 2px solid #000;
    /* Example active indicator */
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
        max-width: 100%;
        padding: 0 0.5rem;
    }
}

/* ########################## User Profile ####################################*/

.content {
    display: flex;
    justify-content: center;
}

.user_content {
    width: 100%;
    max-width: 500px;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    background: linear-gradient(135deg, #f9fafb, #eef2f3);
    text-align: left;
}

.user_content h2 {
    font-size: clamp(30px, 5vw, 2.5rem);
    text-align: center;
}

.profile_image {
    display: flex;
    justify-content: center;
}