    /* ########################## home page ####################################*/
    @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

    /* Reset default styles */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* ===== Home & Body Setup ===== */

    #main-content {
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .fade-out {
        opacity: 0;
        transform: translateY(10px);
    }

    .fade-in {
        opacity: 1;
        transform: translateY(0);
    }

    /* Body styling */
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        min-height: 100vh;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: linear-gradient(135deg, #f9fafb, #eef2f3);
        /* background-blend-mode: normal, color-burn; */
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        line-height: 1.6;
    }

    /* Container */
    .container {
        box-sizing: border-box;
        background: linear-gradient(135deg, #f9fafb, #eef2f3);
        width: 100%;
        max-width: 500px;
        height: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .title_image {
        width: 111px;
        height: 111px;
    }

    .heading {
        width: 100%;
        height: auto;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        margin-bottom: 7rem;
        margin-top: 2%;
    }

    .heading h1 {
        color: black;
        margin-top: 10px;
        font-size: clamp(1.5rem, 5vw, 2.5rem);
        font-weight: 800;
    }

    .iconwrapper {
        background: linear-gradient(135deg, #f9fafb, #eef2f3);
        width: 100%;
        height: auto;
        /* padding: 10px; */
        justify-content: center;
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .icon {
        padding: 10px;
        width: 11rem;
        height: 8rem;
        border: 1px solid rgba(15, 15, 15, 0.089);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        background-size: 105px;
        background-position-x: center;
        background-position-y: 10px;
        background-repeat: no-repeat;
    }

    .icon p {
        margin-top: 4rem;
        text-align: center;
        font-size: larger;
        font-family: "Fira Sans", sans-serif;
    }

    .icon1 {
        background-image: url("/static/issues.png");
    }

    .icon2 {
        background-image: url("/static/lostAndFound.png");
    }

    .icon3 {
        background-image: url("/static/events.png");
    }

    .icon4 {
        background-image: url("/static/campus_map.png");
    }

    .icon5 {
        background-image: url("/static/support.png");
    }

    .icon6 {
        background-image: url("/static/help.png");
    }

    footer {
        margin-top: 10rem;
    }

    .seperatline {
        margin-bottom: 10px;
        opacity: 0.3;
        position: fixed;
        width: 100%;
        bottom: 40px;
        left: 0;
    }

    .bottom_menu {
        display: flex;
        position: fixed;
        bottom: 10px;
        left: 0;
        justify-content: center;
        gap: 40px;
        width: 100%;
        flex-direction: row;
    }

    .b_icons {
        display: flex;
        align-items: center;
        padding: 5px;
        border: 2px solid rgba(0, 0, 0, 0.034);
        border-radius: 50%;
    }

    .b_icons.active {
        background-color: #f0f0f0;
        /* Or your preferred highlight */
        border-bottom: 2px solid #000;
        /* Example active indicator */
    }


    /* ########################## User Profile ####################################*/

    .content {
        width: 100%;
        box-sizing: border-box;
        height: 100%;
        background: linear-gradient(135deg, #3b83f6e0 0%, #6365f1d7 100%);
        display: flex;
        justify-content: center;
    }

    .floattext {
        width: 100%;
        padding: 20px;
        text-align: left;
        position: absolute;
    }

    .floattext h1 {
        margin-top: 7px;
        color: #f0f0f0;
        -webkit-text-stroke: 1px #00000028;
        font-size: 23px;
        text-rendering: optimizeLegibility;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .user_content {
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        top: 100px;
        position: relative;
        width: 100%;
        max-width: 500px;
        height: auto;
        box-sizing: border-box;
        /* margin: 0; */
        padding: 20px;
        background: linear-gradient(135deg, #f9fafb, #eef2f3);
        text-align: left;
    }

    .user_content h2 {
        font-size: clamp(30px, 5vw, 2.5rem);
        text-align: center;
    }

    .profile_image {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 3rem;
    }

    .pfp {
        margin-right: 20px;
        width: 40%;
        height: 150px;
        border-radius: 25%;
        background-image: url("/static/profile.png");
        background-size: cover;
    }

    #username {
        font-weight: 400;
        margin-top: 50px;
        font-size: x-large;
        font-family: "Fira Sans", sans-serif;
    }

    .aboutme {
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .head {
        font-size: x-large;
        font-family: "Fira Sans", sans-serif;
    }

    .user_form {
        padding: 10px;
        width: 100%;
        height: auto;
        background-color: rgba(169, 169, 169, 0.123);
        border: 1px solid rgba(0, 0, 0, 0.096);
        border-radius: 20px;
        position: relative;
    }

    /**###########################notifications###############################*/

    #notifycontent {
        width: 100%;
        height: 100vh;
        /* full screen height */
        box-sizing: border-box;
        background-image: url("/static/noti_bg.png");
        background-size: cover;
        /* makes it cover whole screen */
        background-repeat: no-repeat;
        /* prevents tiling */
        background-position: center;
    }

    .NotifyPanel {
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-between;
        /* spreads left - center - right */
        font-family: 'SF Pro Display', sans-serif;
        font-size: large;
        position: relative;
        width: 100%;
        height: 50px;
        padding: 7px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        background: linear-gradient(135deg, #3b83f6e0 0%, #6365f1d7 100%);
        box-sizing: border-box;
        letter-spacing: 1px;
    }

    .back-icon {
        position: absolute;
        align-self: center;
        top: 13px;
        width: 24px;
        height: auto;
        cursor: pointer;
    }

    .title {
        position: absolute;
        /* stays in the center */
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: larger;
        font-weight: 600;
    }

    .right-placeholder {
        width: 24px;
        /* same as back-icon width, balances layout */
    }

    .msg_wrapper {
        width: 100%;
        padding: 40px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .messagebox {
        max-width: 500px;
        width: 100%;
        height: auto;
        font-family: Arial, Helvetica, sans-serif;
        background: rgba(0, 0, 0, 0.082);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 30px;
        padding: 20px;
    }