<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campus Connect</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div id="main-content">{% block content %}{% endblock %}</div>

    <script src="/static/script.js"></script>

    <footer>
      <hr class="seperatline" />
      <div class="bottom_menu">
        <div class="b_icons" id="home-icon" onclick="loadpage('')">
          <img src="/static/home-line.svg" width="20px" />
        </div>
        <div class="b_icons" id="search-icon" onclick="loadpage('search')">
          <img src="/static/search-line.svg" width="20px" />
        </div>
        <div class="b_icons" id="create-icon" onclick="loadpage('create')">
          <img src="/static/add-fill.svg" width="20px" />
        </div>
        <div
          class="b_icons"
          id="notifications-icon"
          onclick="loadpage('notifications')"
        >
          <img src="/static/notification-2-line.svg" width="20px" />
        </div>
        <div
          class="b_icons"
          id="profile-icon"
          onclick="loadpage('user_profile')"
        >
          <img src="/static/user-line.svg" width="20px" />
        </div>
      </div>
    </footer>
  </body>
</html>
