{%extends 'base.html' %} {%block content %}

<div class="container">
  <div class="heading">
    <img class="title_image" src="/static/CamCare.png" alt="CamConnect" />
  </div>
  <div class="content">
    <div class="iconwrapper">
      <div class="icon icon1"></div>
      <div class="icon icon2"></div>
      <div class="icon icon3"></div>
      <div class="icon icon4"></div>
      <div class="icon icon5">
        <!-- <p>Support</p> -->
      </div>
      <div class="icon icon6"></div>
    </div>
  </div>
</div>

{% endblock %}
